.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0 0 24px;
  font-size: 16px;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 28px;
  padding: 0;
  border: none;
  /* background-color: transparent; */
  cursor: pointer;
}

.modal__content {
  background-color: #ffffff;
  position: relative;
  padding: 28px 28px 36px;
  box-sizing: border-box;
  max-width: 496px;
  width: 100%;
  border-radius: 20px;
  font-size: 16px;
}

.modal__close-button-image {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

.modal__input {
  display: block;
  margin: 0 0 24px;
  border: none;
  border-bottom: 1px solid #000000;
  box-sizing: border-box;
  width: 100%;
}

.modal__input:focus {
  outline: none;
}

.modal__submit {
  background-color: #000000;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: 1px solid #000000;
  color: #ffffff;
  transition: color 0, 3s ease;
}

.modal__submit:hover {
  background-color: #00000099;
}

.modal__submit:disabled {
  background-color: #0000004d;
}

.modal__submit:disabled:hover {
  background-color: #00000099;
}
