.toggleSwitch__checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggleSwitch__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
  width: 56px;
  height: 28px;
  background: #fff;
  border-radius: 20px;
  border: 2px solid #000000;
  position: relative;
  transition: background-color 0.2s;
}

.toggleSwitch__label .toggleSwitch__button {
  content: "";
  position: absolute;
  /* top: 2px; */
  /* left: 2px; */
  width: 28px;
  height: 28px;
  border-radius: 20px;
  transition: 0.2s;
  background: #000000;
  /* box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29); */
}

.toggleSwitch__checkbox:checked + .toggleSwitch__label .toggleSwitch__button {
  left: calc(100%);
  transform: translateX(-100%);
}

.toggleSwitch__label:active .toggleSwitch__button {
  width: 60px;
}
