.card {
  position: relative;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  max-width: 325px;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  text-align: center;
  padding: 2px 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 60%;
  background-color: #ffffff;
  border-radius: 4px;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border: 1px solid #0000004d;
  border-radius: 8px;
  cursor: pointer;
}
