.weather-card {
  display: flex;
  height: 80px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.weather-card__temp {
  margin: 0;
  position: absolute;
  display: inline-block;
  text-align: right;
  min-width: 3ch;
  font-size: 36px;
  line-height: 40px;
  top: 20px;
  left: 16px;
  color: #ffffff;
}

.weather-card__image {
  object-position: right top;
  object-fit: cover;
  width: 100%;
}
