.page {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

.page__content {
  max-width: 11440px;
  margin: 0 auto;
  padding: 0 20px;
}
