.cards {
  margin: 0;
  padding: 0;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  list-style: none;
  row-gap: 20px;
  column-gap: 20px;
  justify-items: center;
}
