.header {
    display: flex;
    align-items: center;
    padding: 32pc 0 28px;
}

.header__logo {
    margin-right: 24px;
}

.header__date-and-location {
    margin: 0;
}

.header__add-clothes-btn {
    margin: 0 20px 0 auto;
}

.header__avatar-container {
    display: flex;
    align-items:  center;
    gap: 12px;
}

.header__avatar {
    margin: 0;
}