header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__btn-container {
  margin: 0 20px 0 auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header__add-clothes-btn {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.header__add-clothes-btn:hover {
  color: #0000004d;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__nav-Link {
  color: #000000;
  text-decoration: none;
}

.header__nav-link-logo {
  cursor: pointer;
}

.header__username {
  margin: 0;
  white-space: nowrap;
}

.header__avatar {
  margin: 0;
}
