.modal__close-btn--position {
  top: 26px;
  right: 26px;
  background-color: transparent;
}

.modal__close-button-image {
  width: 20px;
  height: 20px;
}

.modal__content--preview {
  width: 426px;
  height: 90vh;
  border: 1px solid #0000004d;
  border-radius: 16px;
  position: relative;
  padding: 0;
}

.modal__image {
  border-radius: 12px 12px 0 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}

.modal__card-footer {
  height: 112px;
  display: flex;
  padding: 0;
  justify-content: space-between;
}
.modal__description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 20px;
  font-weight: 700;
}

.modal__caption {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
}

.modal__weather {
  margin: 0;
  padding: 0;
}

.modal__delete-btn {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px;
  transition: filter 0.3s ease;
  cursor: pointer;
}

.modal__delete-btn:hover {
  filter: saturate(3);
}

.modal__delete-image-btn {
  border: none;
}

@media screen and (min-width: 1280px) {
  .modal__content--preview {
    display: flex;
    flex-direction: row;
    gap: 28px;
    width: 670px;
    height: 368px;
    padding: 20px 0 20px 20px;
    border-radius: 20px;
    box-sizing: border-box;
  }

  .modal__image {
    position: relative;
    border: 2px solid #0000004d;
    width: 325px;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }

  .modal__caption {
    position: absolute;
    background-color: #ffffff;
    border: none;
    padding: 2px 12px;
    border-radius: 4px;
    top: 37px;
    left: 36px;
  }

  .modal__card-footer {
    flex-direction: column;
    padding: 20px 32px 32px 20px;

    margin: 0;
    width: 325px;
    height: 100%;
    justify-content: space-between;
  }

  .modal__weather--positionL {
    margin-top: 12px;
  }

  .modal__close-btn--position {
    top: 20px;
    right: 20px;
  }

  .modal__close-button-image {
    filter: brightness(0) opacity(0.3);
  }

  .modal__delete-block--disable {
    margin: 0;
    padding: 0;
    /* width: 100%; */
    /* height: 100%; */
  }

  .modal__delete-image-btn {
    margin: 0 0 20px 0;
    padding: 0;
  }
  .modal .modal__delete-btn {
    margin: 0 0 12px 0;
    padding: 0;
  }
}
