.Modal {
  position: relative;
  width: 436px;
  display: flex;
  justify-content: center;
}

.modal_type_image {
  width: 100%;
  border: 1px solid #0000004d;
  border-radius: 12px;
  position: relative;
  padding: 0;
}

.modal__close-button-image {
  top: 20px;
  right: 20px;
  background-color: transparent;
}

.modal__image {
  border-radius: 12px 12px 0 0;
  width: 100%;
  overflow: hidden;
}

.modal__card-footer {
  height: 112px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 0 32px 32px;
  justify-content: center;
}

.modal__caption {
  margin: 0;
  padding: 0;
}

.modal__weather {
  margin: 0;
  padding: 0;
  font-size: 24px;
}
