.modal__close-btn--position {
  top: 26px;
  right: 26px;
  background-color: transparent;
}

.modal__content--preview {
  width: 100%;
  border: 1px solid #0000004d;
  border-radius: 16px;
  position: relative;
  padding: 0;
}

.modal__image {
  border-radius: 12px 12px 0 0;
  width: 100%;
  overflow: hidden;
}

.modal__card-footer {
  height: 112px;
  display: flex;
  padding: 20px 32px 0;
  justify-content: space-between;
}
.modal__description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 20px;
  font-weight: 700;
}

.modal__caption {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
}

.modal__weather {
  margin: 0;
  padding: 0;
}

.modal__delete-btn {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px;
  transition: filter 0.3s ease;
  cursor: pointer;
}

.modal__delete-btn:hover {
  filter: saturate(3);
}

.modal__delete-image-btn {
  border: none;
}

@media screen and (min-width: 1280px) {
  .modal__content--preview {
    display: flex;
    flex-direction: row;
    gap: 28px;
    width: 90%;
    max-width: 800px;
    padding: 20px;
  }

  .modal__image {
    position: relative;
    border-radius: 16px;
  }

  .modal__caption {
    position: absolute;
    top: 40px;
    left: 30%;
  }
  .modal__card-footer {
    flex-direction: column;
    padding: 12px 0;
    width: 325px;
    justify-content: space-between;
  }

  .modal__close-btn--position {
    top: 20px;
    right: 20px;
    background-color: transparent;
  }
}

/* @media screen and (min-width: 1279px) {
  .modal {
    position: static;
  }
} */
