.sideBar__profile {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  /* width: 229px; */
}
.sideBar__userName {
  font-size: 20px;
  color: black;
  text-align: left;
  white-space: nowrap;
  margin: auto 0;
}

.sideBar__avatar {
  margin: 0;
  height: 56px;
  width: 56px;
}
