.clothes-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
}

.clothes-section__row {
  display: flex;
  gap: 20px;
}

.clothes-section__title {
  font-weight: 700;
  margin: 0;
}

.clothes-section__list {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1f)); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 0 auto;
  max-width: 786px;
  padding: 0 20px;
  list-style: none;
  row-gap: 20px;
  column-gap: 20px;
}

.clothes-section__btn {
  border: none;
  background-color: #ffffff;
  font-weight: 700;
  color: #00000099;
  margin: 0;
  padding: 0;
  height: 25px;
  cursor: pointer;
}

.clothes-section__btn:hover {
  color: #0000004d;
}
